/*--- Código mobile-first fora da media query ---*/



/*--- Código desktop dentro da media query ---*/
@media (min-width: 992px) {
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
    background: url(../img/bg.jpg);
    color: white;
    text-shadow: 2px 2px black;
}

header { 
    background-color: #147a53; 
    padding: 1vh 1vw; 
    height: 10vh; 
    box-sizing: border-box; 
    color: #fff; 
} 

h1 {
    text-align: center;
}

.moldura {
    float: left;
    width: 643px;
    height: 483px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: gray;
}

.lateral {
    float: right;
    width: 643px;
    height: 483px; 
    box-sizing: border-box;
    border: 1px solid black;
    background-color: gray;
}

/*--- Imagem captura ---*/
#video {
    width: 640px;
    height: 480px;
}

/*--- Botão de captura da imagem ---*/
#capturar {
    font-size: large;
    align: center;
}
}