/*--- Código mobile-first fora da media query ---*/



/*--- Código desktop dentro da media query ---*/
@media (min-width: 992px) {
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
    background: url(../img/bg.jpg);
}

header { 
    background-color: rgba(135, 206, 235, 0.9); 
    padding: 1vh 1vw; 
    height: 14vh; 
    box-sizing: border-box; 
    border-radius: 2%;
    margin-bottom: 5px;
} 

h1 {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px black;
    color: #fff; 
}

.moldura {
    float: left;
    width: 643px;
    height: 483px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color:rgba(190, 190, 190, 0.9);
}

.lateral {
    float: right;
    width: 643px;
    height: 483px; 
    box-sizing: border-box;
    border: 1px solid black;
    background-color:rgba(190, 190, 190, 0.9);
}

/*--- Imagem captura ---*/
#video {
    width: 640px;
    height: 480px;
}

/*--- Botão de captura da imagem ---*/
#capturar {
    font-size: large;
    margin-top: 5px;
}
}